<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>人像仓库</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link href="jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="index/styles_2.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/bootstrap-table.css" />
    <script src="scripts/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    <script src="scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="scripts/prototypePre.js"></script>
    <script src="document.js"></script>
    <script src="scripts/prototypePost.js"></script>
    <script src="index/data.js"></script>
    <script type="text/javascript" src="js/bootstrap-table.js"></script>
    <script type="text/javascript"></script>
    <style>
        .text-center {
            text-align: center;
        }

        body {
            background-color: #343a40;
        }
    </style>

</head>
<body>
<div class="bg-dark text-white" style="padding-top: 100px">
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <div class="bg-dark text-white">
                <h1>杉德无人超市自助结账系统</h1>
            </div>
        </div>
        <div class="col-6">
            <div class="bg-dark text-white">
                <h2>人像管理</h2>
            </div>
        </div>
        <div class="col">
            <div class="bg-dark text-white">
                <h6 id="time" style="color: white;"></h6>
                <script>
                    function mytime() {
                        var a = new Date();
                        var b = a.toLocaleTimeString();
                        var c = a.toLocaleDateString();
                        document.getElementById("time").innerHTML = c + "&nbsp" + b;
                    }

                    setInterval(function () {
                        mytime()
                    }, 1000);
                </script>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 200px">
        <div class="col-8"></div>
        <div class="col-2">
            <form action="/select">
                <div class="input-group mt-3 mb-3">
                    <input type="text" class="form-control" placeholder="输入姓名或卡号" id="name_or_id_num"
                           name="name_or_id_num">
                    <input class="btn btn-primary" type="submit" value="搜索">
                </div>
            </form>
        </div>
    </div>
    <div class="container">
        <h2>人像库</h2>
        <table class="table table-hover" id="myTable">
            <thead>
            <tr>
                <th>姓名</th>
                <th>卡号</th>
                <th>余额</th>
                <th>人像</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody th:each="face : ${list}">
            <td th:text="${face.getName()}"></td>
            <td th:text="${face.getCard()}"></td>
            <td th:text="${face.getMoney()}"></td>
            <td><button class="btn btn-link" th:value="${face.getFilename()}" onclick="getImg(this.value)">显示人像</button>
            </td>
            <td><button class="btn btn-danger" th:value="${face.getCard()}" onclick="getId(this.value)">删除</button>
            </td>
            </tbody>
        </table>
    </div>
</div>
<div id="u0" class="" data-left="33" data-top="222" data-width="1768" data-height="908">
    <form action="/delete" method="post" id="test_form">
        <input type=hidden id="userId" name="id" value="">
    </form>
</div>
</body>
<script type="text/javascript">

    function getImg(path) {
        var p = '/test?path=' + path
        window.open(p, 'newwindow',
            'height=436, width=581, top=300 , left=800, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no')

    }

    function getId(value) {
        var userId = document.getElementById("userId");
        userId.value = value;
        var form = document.getElementById("test_form");
        form.submit();
    }

</script>
</body>
</html>




